.background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.background.active {
    display: block;
}

.navbar {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 300px;
    background-color: var(--gray-2);
    box-shadow: 0 0 2px 1px var(--gray-0);
    transition: left .2s ease;
    z-index: 2;
    cursor: pointer;
}

.navbar.active {
    left: 0;
    cursor: default;
}

.navbar {
    left: calc(-300px + 32px);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray-1);
    height: 65px;
}

.header .title {
    color: var(--gray-8);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    padding-left: 10px;
}

.header .toggle_navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 32px;
    background-color: var(--gray-3);
    cursor: pointer;
}

.header .toggle_navbar_btn::after {
    content: "";
    display: block;
    height: 12px;
    width: 8px;
    background-image: url('../../../assets/arrow-course-navbar.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transform: rotate(180deg);
}

.navbar.active .header .toggle_navbar_btn::after {
    transform: rotate(0deg);
}

.header .toggle_navbar_btn:hover {
    background-color: var(--gray-4);
}

.module .title {
    background-color: var(--gray-0);
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    padding: 10px;
}



.module .lesson_wrapper:nth-child(even) {
    background-color: var(--gray-3);
    color: red;
}

.navbar.active .module .lesson_wrapper:hover {
    background-color: var(--gray-1);
}

.module .lesson_link {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    cursor: pointer;
}

.module .lesson_name_wrapper {
    padding: 10px;
}

.module .lesson_name_wrapper .lesson_sequence,
.module .lesson_duration_wrapper .lesson_duration {
    color: var(--gray-5);
    font-size: 12px;
}

.module .lesson_name_wrapper .lesson_name {
    color: var(--gray-7);
    font-size: 16px;
    line-height: 20px;
}

.module .lesson_duration_wrapper {
    display: flex;
    align-items: center;
}

.module .lesson_duration_wrapper .lesson_watched_feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
}

.module .lesson_duration_wrapper .lesson_watched_feedback::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: var(--gray-5);
    border-radius: 50%;
    margin: 0 12px;
}

