.background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.background.active {
    display: block;
}

.navbar {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 300px;
    left: calc(-300px + 32px); /* -navbarWidth + watchedFeedbackWidth */
    background-color: var(--gray-2);
    box-shadow: 0 0 2px 1px var(--gray-0);
    transition: left .2s ease;
    z-index: 2;
    cursor: pointer;
    overflow-y: hidden;
}

.navbar.active {
    left: 0;
    cursor: default;
    width: calc(300px + 16px); /* navbarWidth + scrollbarWidth */
    overflow-y: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray-1);
    position: sticky;
    top: 0;
    height: 65px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.6)
}

.header .title {
    color: var(--gray-8);
    font-family: "PT Serif", serif;
    font-size: 24px;
    padding-left: 10px;
    font-weight: bold;
}

.header .toggle_navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 32px;
    background-color: var(--gray-3);
    cursor: pointer;
}

.header .toggle_navbar_btn::after {
    content: "";
    display: block;
    height: 12px;
    width: 8px;
    background-image: url('../../../assets/arrow-course-navbar.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transform: rotate(180deg);
}

.navbar.active .header .toggle_navbar_btn::after {
    transform: rotate(0deg);
}

.header .toggle_navbar_btn:hover {
    background-color: var(--gray-4);
}

.modules_wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 180px;
}

.module .title {
    background-color: var(--gray-0);
    font-family: 'PT Serif';
    font-size: 16px;
    line-height: 21px;
    padding: 10px;
}

.module .lesson_list {
    display: flex;
    flex-direction: column;
}

.module .lesson_wrapper:nth-child(even) {
    background-color: var(--gray-3);
}

.navbar.active .module .lesson_wrapper:hover {
    background-color: var(--gray-1);
}

@media screen and (max-width: 760px) {
    .navbar.active .module .lesson_wrapper:hover {
        background-color: transparent;
    }

    .navbar.active module .lesson_wrapper:hover:nth-child(even) {
        background-color: var(--gray-3);
    }
}