.nonSubscribedUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-1);
    aspect-ratio: 16 / 9;
    padding: 15px;
}

.nonSubscribedUser p {
    font-family: 'PT Serif', serif;
    font-size: 24px;
    line-height: 33.6px;
    margin-bottom: 24px;
    max-width: 430px;
    text-align: center;
}

.nonSubscribedUser .subscription {
    display: block;
    text-align: center;
    font-size: 18px;
    width: 212px;
    padding: 15px 0;
    border-radius: 4px;
    margin: 0 auto;
    background-color: var(--gray-3);
    color: var(--gray-8);
    cursor: pointer;
}

.nonSubscribedUser .subscription:hover {
    background-color: var(--c-0-dark);
}

@media screen and (max-width: 760px) {
    .nonSubscribedUser p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
        max-width: 300px;
    }
    .nonSubscribedUser .subscription {
        font-size: 14px;
        width: 180px;
        margin-bottom: 15px;
    }
}