.wrapper {
    position: relative;
    padding: 56.25% 0 0 0;
}

.iframe,
.loadingWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.iframe {
    z-index: 1;
}

.loadingWrapper {
    z-index: 0;
}