.slidesWrapper {
    background-color: var(--gray-1);
    color: var(--gray-8);
}

.slide {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 47.5rem;
    padding: 2.5rem 1.25rem;
    margin: 0 auto;
}

.title, .regular_title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    line-height: 3rem;
}

.regular_title {
    font-weight: normal;
}

.title::after, .regular_title::after {
    content: "";
    display: block;
    width: 3.75rem;
    height: 0.125rem;
    background-color: var(--gray-plus);
    margin-top: 0.625rem;
}

.introTitle {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 3rem;
}

.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--gray-plus);
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 0.625rem;
    font-weight: 400;
}

.subtitle span {
    color: var(--c-0-light);
}

.list li {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 3rem;
    color: var(--gray-5);
}

.list li::before {
    content: '';
    display: block;
    min-width: 0.375rem;
    min-height: 0.375rem;
    border-radius: 50%;
    background-color: var(--c-0-light);
    margin-right: 0.75rem;
}

.infoSource {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    color: var(--gray-plus);
    font-style: italic;
}

.externalLink {
    display: inline-block;
    color: var(--gray-5);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 1.25rem;
    line-height: 1.625rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.codeEditor {
    font-size: 1.25rem;
}

.logo img {
    width: 9.125rem;
}

.hightlight {
    color: var(--c-0-light);
    font-weight: bold;
}

.principleTitle {
    font-size: 1.75rem;
    line-height: 2.063rem;
}

.principleTitle::after {
    content: "";
    display: block;
    width: 3.75rem;
    height: 0.125rem;
    background-color: var(--gray-plus);
    margin-top: 0.625rem;
}

.principleDescription {
    font-size: 1.25rem;
    line-height: 1.625rem;
    margin-top: 0.625rem;
    color: var(--gray-plus);
}

.principleCodeDescription {
    font-size: 1rem;
    line-height: 1.313rem;
    color: var(--gray-5);
    margin-bottom: 1rem;
}

.principleCodeExamples {
    margin-top: 2.5rem;
}

.separatorBefore::before,
.separatorAfter::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--gray-4);
}

.grayTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--gray-plus);
    text-align: center;
}

.cite::before {
    margin: 32px auto;
}

.cite {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-style: italic;
    color: var(--gray-7);
    text-align: center;
}

.smallSerifText {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--gray-7);
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-align: center;
}

.smallSerifText::before {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--gray-4);
    margin: 1.5rem auto;
}