.codeEditor {
    font-size: 1.125rem;
    border-radius: 0.25rem;
    overflow: hidden;
}

.copyButton {
    display: flex;
    align-items: center;
    padding: 0.625rem;
    border-radius: 0.25rem;
    background-color: var(--gray-3);
    color: var(--gray-7);
    cursor: pointer;
    margin-bottom: 0.625rem;
}

.copyButton:hover {
    opacity: .7;
}

.copyButton::before {
    content: '';
    display: block;
    width: 0.904rem;
    height: 0.858rem;
    background-image: url('../assets/copy-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 0.313rem;
}

.copyButton.copied::before {
    background-image: url('../assets/correct-icon.svg');
}