.header {
    background-color: var(--gray-0);
    height: 65px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 70px;
}

@media only screen and (max-width: 760px) {
    .navigation {
        padding: 0 20px 0 50px;
    }
}

.logo {
    padding: 20px 0;
}

.links_container {
    cursor: default;
}

.links_container button.link {
    display: block;
    background-color: transparent;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
}

.links_container a.link,
.links_container button.link {
    padding: 10px 0;
    margin-left: 20px;
    color: var(--gray-8);
}

.links_container a.link:hover,
.links_container button.link:hover {
    color: var(--c-0-light);
}

.links_container a.link.login {
    background-color: var(--gray-3);
    padding: 10px 20px;
    border-radius: 4px;
}

.links_container a.link.login:hover {
    background-color: var(--c-0-dark);
    color: var(--gray-7);
}

.header_menu .hamburguer_menu {
    display: none;
    padding: 10px;
    width: 40px;
    height: 40px;
    background-color: var(--gray-3);
    border-radius: 4px;
    cursor: pointer;
}

.header_menu .hamburguer_menu:hover {
    background-color: var(--gray-4);
}

span.line {
    display: block;
    height: 2px;
    width: 20px;
    border-radius: 4px;
    background-color: var(--gray-8);
    transition: all 0.2s ease;
}

span.line:nth-child(1) {
    margin-bottom: 6px;
}

span.line:nth-child(2) {
    width: 16px;
    position: relative;
    align-self: flex-end;
}

span.line:nth-child(3) {
    margin-top: 6px;
}

.header_menu.active span.line:nth-child(2) {
    background-color: transparent;
}

.header_menu.active span.line:nth-child(1),
.header_menu.active span.line:nth-child(3) {
    position: absolute;
    margin: 0;
}

.header_menu.active span.line:nth-child(1) {
    transform: rotate(45deg);
}

.header_menu.active span.line:nth-child(3) {
    transform: rotate(-45deg);
}

@media only screen and (max-width: 760px) {
    .header_menu .hamburguer_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .header_menu.active .links_container {
        display: block;
    }
}

.subscription {
    display: inline-block;
}

@media only screen and (max-width: 760px) {
    .links_container {
        display: none;
        position: absolute;
        min-width: 12.5rem;
        top: 3.75rem;
        right: 0.938rem;
        background-color: var(--gray-1);
        border-radius: 0.25rem;
        z-index: 10;
    }

    .links_container .links_wrapper {
        margin: 0 0.938rem;
    }

    .links_container a.link,
    .links_container button.link {
        margin: 0;
        display: block;
        width: 100%;
        padding: 15px 5px;
        border-bottom: 1px solid var(--gray-3);
        text-align: left;
    }

    .links_container .link:nth-child(2) {
        border-bottom: none;
    }

    .links_container a.link.login {
        margin-top: 0.313rem;
        margin-bottom: 0.938rem;
    }

    .subscription {
        width: 100%;
    }
}