.hide_scrollbar::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.hide_scrollbar {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
}

body {
    color: var(--gray-8);
    background-color: var(--gray-2);
    font-family: Arial, Helvetica, sans-serif;
}

.cm-scroller::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
    background-color: var(--gray-2);

}

.cm-scroller::-webkit-scrollbar-thumb {
    background-color: var(--gray-4);
    border-radius: 1.25rem;
    border: 0.375rem solid transparent;
}