*, *::before, *::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

input {
    outline: none;
    border: none;
}

textarea {
    resize: none;
}
  
button {
    border: none;
}

img {
    display: block;
    max-width: 100%;
}

:root {
    --gray-0: #000000;
    --gray-1: #0E1013;
    --gray-2: #1B1D20;
    --gray-3: #222326;
    --gray-4: #606163;
    --gray-5: #b0b2b3;
    --gray-6: #d4d6d8;
    --gray-7: #eee5e0;
    --gray-8: #ffffff;
    --gray-plus: #878889;

    --c-0-light: #d79c6b;
    --c-0-dark: #955A29;
    --c-1-dark: #39200A;
}