.logo img {
    width: 9.125rem;
}

.introTitle {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 3rem;
}

.manifestoImg {
    margin-top: 3rem;
    border-radius: 0.25rem;
    overflow: hidden;
}

.manifestoLink {
    display: inline-block;
    color: var(--gray-5);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 1.25rem;
    line-height: 1.625rem;
    margin-top: 1.25rem;
}