.container {
    max-width: 76.25rem;
    width: 100%;
    padding: 0 1.25rem 0 2.5rem;
    margin: 0 auto;
}

@media only screen and (max-width: 760px) {
    .container {
        padding: 0 1.25rem;
    }
}

.video_section {
    margin-top: 1.5rem;
    min-height: calc(100vh - 12.5rem);
}

.wrapper_title_slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video_number {
    font-size: 0.75rem;
    color: var(--gray-5);
    line-height: 1.063rem;
}

.video_name {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.938rem;
}

.slide_link {
    text-decoration: underline;
}

.slide_link:hover {
    color: var(--c-0-light);
}

.change_video_button_wrapper {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.change_video_button_wrapper button {
    padding: .625rem;
    font-size: 1rem;
    background-color: var(--gray-3);
    color: var(--gray-8);
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.change_video_button_wrapper button:hover {
    background-color: var(--gray-1);
}

.change_video_button_wrapper button.prev::before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background: url('../../../assets/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    margin-right: 2.25rem;
}

.change_video_button_wrapper button.next::after {
    content: "";
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background: url('../../../assets/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 2.25rem;
}

.video_player {
    margin-top: 1.5rem;
    padding: 56.25% 0 0 0;
    position: relative;
}

.iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer_wrapper {
    margin-top: 6.25rem;
}